$spacing-sizes: zero tiny mini small medium large extra-large;
$spacing-zero: 0;
$spacing-tiny: 2px;
$spacing-mini: 4px;
$spacing-small: 8px;
$spacing-medium: 12px;
$spacing-large: 16px;
$spacing-extra-large: 20px;

@function spacing($n) {
    @if $n == 'zero' {
        @return $spacing-zero;
    }
    @if $n == 'tiny' {
        @return $spacing-tiny;
    }
    @if $n == 'mini' {
        @return $spacing-mini;
    }
    @if $n == 'small' {
        @return $spacing-small;
    }
    @if $n == 'medium' {
        @return $spacing-medium;
    }
    @if $n == 'large' {
        @return $spacing-large;
    }
    @if $n == 'extra-large' {
        @return $spacing-extra-large;
    }
}

@mixin spacing-pad-tiny {
    padding: $spacing-tiny;
}
@mixin spacing-pad-mini {
    padding: $spacing-mini;
}
@mixin spacing-pad-small {
    padding: $spacing-small;
}
@mixin spacing-pad-medium {
    padding: $spacing-medium;
}
@mixin spacing-pad-large {
    padding: $spacing-large;
}
@mixin spacing-pad-extra-large {
    padding: $spacing-extra-large;
}
