//
// Bourbon - A simple and lightweight mixin library for Sass.
//
@import "bourbon";
@import "common.spacing";

@mixin image-size($size) {
    width: $size;
    height: $size;
    line-height: $size;
}
