@import "common";

/**
 * http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/
 */

// Within Container
.absolute-center-container {
    position: relative;
}
.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
// Within Viewport
.absolute-center.fixed {
    position: fixed;
    z-index: 999;
}
// Offsets
.absolute-center.left {
    left: 0;
    right: auto;
    text-align: left;
}
.absolute-center.right {
    left: auto;
    right: 0;
    text-align: right;
}
// Responsive
.absolute-center.responsive {
    width: 60%; 
    height: 60%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
}
// Overflow
.absolute-center.overflow {
    overflow: auto;
}
// Images
img.absolute-center {
    width: 100%;
    height: auto;
}
